.navBar {
  grid-area: navBar;
  padding-bottom: 50px;
}

.image {
  float: left;
  grid-area: image;
}

.job {
  float: left;
  grid-area: job;
  font-size: 2vw;
  padding-left: 30px;

}

.description {
  grid-area: description;
  padding-left: 30px;
  font-size: 0.8vw;
}

.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'navBar navBar'
    'image job'
    'image description'
    'footer footer';

  grid-gap: 10px;
  background-color:  #fafafa;
  padding: 10px;
  height:100vh;
  width: 100vw;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: 2fr 1fr;
  padding-right: 20vw;
  padding-left: 20vw;
}
.grid-container > div {
  background-color:  #fafafa;
  font-family: 'Roboto', sans-serif;
}

.image img{
  height:30vw;
  width:auto;
}

@media screen and (max-width: 500px) {
  .grid-container{
    grid-template-areas:
      'navBar'
      'image'
      'job'
      'description'
      'footer';
    grid-template-columns: auto;
    padding-right: 20px;
    padding-left: 13px;
  }

  .image{
    justify-self:center; 
  }

  .image img{
    float:none;
    height:40vw;
    width:auto;
  }

  .job {
    float: left;
    grid-area: job;
    font-size: 5vw;
    padding-left: 30px;

  }

  .description {
    grid-area: description;
    padding-left: 30px;
    font-size: 3vw;
  }




}
