.footerBar{
  padding-top: 100px;
  padding-bottom: 60px;
  font-size: 20px;
  text-align: left;
  font-style: italic;
}

.footer-right{
  float: right;
}

.footer-right > * {
    display: inline;
    padding-right: 25px;
}

.footerIcon img{
  height: 30px;
  width: 30px;

}

.footerIcon img:hover{
  transform: scale(1.3);
}

@media screen and (max-width: 500px) {
  .footerBar{
    font-size: 12px;
  }


}
