.left {
  grid-area: left;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.right-top {
   grid-area: right-top;
   border-top-right-radius: 15px;
   font-size: 40px;
   padding-top: 30px;
   color:white;
   float: left;
   text-align: left;
   padding-left: 20px;
   text-decoration: none;

 }

.right-bottom {
  grid-area: right-bottom;
  border-bottom-right-radius: 15px;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  text-align: left;

}

.grid-container {
  display: grid;
  grid-template-areas:
    'left right-top'
    'left right-bottom';
  background-color: white;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;



}
.grid-container > div {
  font-family: 'Roboto', sans-serif;
}

.cardLogo{
  max-width: 400px;
  max-height:260px;
  height: auto;
  width: auto;
}
