a {
    text-decoration: none !important;
    color:black
}
a:hover{
    text-decoration:none;
    cursor:pointer;
}

.html{
  background-color: #fafafa;
}
.navBar {
  padding-top: 30px;
  grid-area: navBar;
}
.jumbotron {
  grid-area: jumbotron;
  padding-top: 50px;
  padding-bottom: 50px;
}
.horizontalCards {
  grid-area: horizontalCards;

}
.squareCards { grid-area: squareCards; }
.squareCards p{
  font-size: 40px;
}
.Footer { grid-area: Footer; }


.root-container {
  display: grid;
  grid-template-areas:
    'navBar'
    'jumbotron'
    'horizontalCards'
    'squareCards'
    'Footer';
  grid-gap: 1px;
  background-color: #fafafa;
  height:100vh;
  width: 100vw;
  grid-auto-rows: minmax(min-content, max-content);
  padding-right: 20vw;
  padding-left: 20vw;
}
.root-container > div {
  text-align: center;
  background-color: #fafafa;
}

@media screen and (max-width: 500px) {
  .root-container{
    padding-right: 20px;
    padding-left: 13px;

  }

  .squareCards p{
    font-size: 20px;
  }

}
