.navBar {
  padding-top: 30px;
  grid-area: navBar;
}
.jumbotron { grid-area: jumbotron; }
.horizontalCards { grid-area: horizontalCards; }
.squareCards { grid-area: squareCards; }
.Footer { grid-area: Footer; }

.horizontalCards > *{
  padding-bottom: 20px;
}

.root-container {
  display: grid;
  grid-template-areas:
    'navBar'
    'jumbotron'
    'horizontalCards'
    'squareCards'
    'Footer';
  grid-gap: 1px;
  background-color: white;
  height:100vh;
  width: 100vw;
  grid-auto-rows: minmax(min-content, max-content);
  padding-right: 200px;
  padding-left: 200px;
}
.root-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .root-container{
    padding-right: 0px;
    padding-left: 0px;

  }
}
